Aaron Holmes <aaron@aaronholmes.net> Aaron Holmes <aholmes@bltomato.com>
Akshar Patel <akshar.patel.47@gmail.com>
Ali Sabzevari <alisabzevari@gmail.com>
Aliaksandr Radzivanovich <aradzivanovich@gmail.com>
BuildTools <FranklinWhale@users.noreply.github.com> # Franklin Tse
ChogyDan <danielhollocher@gmail.com> # Daniel Hollocher
Daniel Rosenwasser <DanielRosenwasser@users.noreply.github.com> Daniel Rosenwasser <drosen@microsoft.com> Daniel Rosenwasser  <Daniel.Rosenwasser@microsoft.com>
David Kmenta <david.kmenta@lmc.eu>
E020873 <nicolas.henry-partner@arcelormittal.com> # Nicolas Henry
Elisée Maurer <elisee@sparklinlabs.com>
Emilio García-Pumarino <emili.tfe@gmail.com> dashaus <emili.tfe@gmail.com>
Guilherme Oenning <me@goenning.net>
Herrington Darkholme <nonamesheep1@gmail.com>
Ivo Gabe de Wolff <ivogabe@ivogabe.nl>
Joey Wilson <joey.wilson.a@gmail.com>
Jonathon Smith <failing@crashdive.co.uk>
Juan Luis Boya García <ntrrgc@gmail.com>
Kagami Sascha Rosylight <saschanaz@outlook.com>
Lucien Greathouse <me@lpghatguy.com>
Martin Vseticka <vseticka.martin@gmail.com>
Mattias Buelens <mattias.buelens@opentelly.com>
Michael Bromley <michael@michaelbromley.co.uk>
Mohamed Hegazy <mhegazy@microsoft.com>
Nathan Shively-Sanders <nathansa@microsoft.com>
Paul Jolly <paul@myitcv.org.uk>
Perry Jiang <jiangperry@gmail.com>
Peter Burns <rictic@google.com>
Robert Coie <rac@intrigue.com>
Ryan Cavanaugh <RyanCavanaugh@users.noreply.github.com>
Thomas Loubiou <t.loubiou@systonic.fr>
Tim Perry <tim.perry@softwire.com>
Vidar Tonaas Fauske <vidartf@gmail.com>
Viktor Zozulyak <zozulyakviktor@gmail.com>
York Yao <plantain-00@users.noreply.github.com> york yao <yaoao12306@outlook.com> yaoyao <yaoyao12306@163.com> york yao <yaoao12306@outlook.com>
Yuichi Nukiyama <oscar.wilde84@hotmail.co.jp> YuichiNukiyama <oscar.wilde84@hotmail.co.jp>
Zhengbo Li <Zhengbo Li> Zhengbo Li <zhengbli@microsoft.com> zhengbli <zhengbli@microsoft.com> tinza123 <li.zhengbo@outlook.com>
falsandtru <falsandtru@users.noreply.github.com>  # @falsandtru
rix <rix@rixs-MacBook-Pro.local> # Richard Sentino
rohitverma007 <rohitverma@live.ca> # Rohit Verma
Akinmade Bond  <lovedammy77@yahoo.com>
alfaslash  <alfaslash@gmail.com> # Artem Roshko
Andy Hanson  <anhans@microsoft.com>
Argelius Andreas  <andreas@argeli.us>
arjunyel  <arjunyel@users.noreply.github.com> # @arjunyel
Christian Silver  <Pinpickle@abscure.net>
cronon  <cronon12@gmail.com> # @cronon
Diullei Gomes  <diullei@gmail.com>
Gabriel Pena Calero  <gabrielpenac25@gmail.com>
Logan Mzz  <loganmzz@users.noreply.github.com>
Luc-Edmond Gaspard  <gaspardle@users.noreply.github.com>
Nico Kemnitz  <nkemnitz@princeton.edu>
Stanislav Vasilev  <stas.vstas@yandex.ru>
Tuure Savuoja  <tuure@tuuresavuoja.net>
VincentBel  <buaazqh@gmail.com> # Vincent Bel

Adam Hines  <ahines57@gmail.com> Adam J. Hines  <ahines@factset.com>
Alex Eagle  <alexeagle@google.com>
alexlur  <itaieps@fastmail.fm>
Carlos Galarza  <carloslfu@gmail.com>
Diogo Franco (Kovensky)  <diogomfranco@gmail.com>
Eugene Timokhov  <timocov@gmail.com>
Heejong Ahn  <heejongahn@gmail.com>
Marco Aurélio  <thecoreh@gmail.com> Marco Buono  <thecoreh@gmail.com>
Michael James  <mjames@atlassian.com>
Pablo Rodríguez  <pabloviolin8@gmail.com>
Pedro Ferreira  <plferreira4@gmail.com>
Philip Bulley  <philip@milkisevil.com>
Sid Raval  <sid@thoughtbot.com>
Tanguy Krotoff  <tkrotoff@gmail.com>
Tudor Gergely  <tudorgergely@gmail.com>
Wesley Wigham  <wwigham@gmail.com>

Vincent  <projects@vinnl.nl>
Simon  <demwizzy@gmail.com>
t_  <t.us.mrt@gmail.com>
yokomotod  <yokomotod@gmail.com>

1000ch  <shogo.sensui@gmail.com> # Shogo Sensui
Andrei Volchenko  <volchenko.andrei@gmail.com>
Benjamin Solum  <benjamin@soluml.com>
Cheung Chifung  <chifung.cheung@gmail.com>
Ciro  <ciroreed@gmail.com> k1r0s  <ciroreed@gmail.com>
Dylan Cutler  <DCtheTall@users.noreply.github.com>
Elliott Marquez  <emarquez@google.com>
Jiří Pudil  <me@jiripudil.cz>
John Patterson  <john@JohnPPatterson.com>
Josh Thomas  <josh@ionic.io> Josh Thomas  <jthoms1@gmail.com>
Kakeru Ishii  <i.kakeru@grimoire.gl>
Marius Schulz  <marius.schulz@me.com>
Mihal Malostanidis  <qm3ster@gmail.com> qm3ster  <qm3ster@gmail.com> # Mihal Malostanidis
muj-beg  <github@PlanetBeg.com> Muj.Beg  <muj.beg@carestream.com> Muj.Beg  <muj.beg@csdental.com> # Muj Beg
Oussama Ben Brahim  <benbraou@gmail.com>
Robert Hill  <dr.pappa@gmail.com> Pappa  <dr.pappa@gmail.com> # Robert Hill
Priyantha Lankapura  <lankaapura@gmail.com>
vvakame  <vvakame+dev@gmail.com> # Masahiro Wakame
Yin Zhikai  <nullizer@gmail.com>
薛定谔的猫 <hh_2013@foxmail.com> # Aladdin ADD