Aaron Holmes <aaron@aaronholmes.net> Aaron Holmes <aholmes@bltomato.com>
Akshar Patel <akshar.patel.47@gmail.com>
Ali Sabzevari <alisabzevari@gmail.com>
Aliaksandr Radzivanovich <aradzivanovich@gmail.com>
BuildTools <FranklinWhale@users.noreply.github.com> # Franklin Tse
ChogyDan <danielhollocher@gmail.com> # Daniel Hollocher
Daniel Rosenwasser <DanielRosenwasser@users.noreply.github.com> Daniel Rosenwasser <drosen@microsoft.com>
David Kmenta <david.kmenta@lmc.eu>
E020873 <nicolas.henry-partner@arcelormittal.com> # Nicolas Henry
Elisée Maurer <elisee@sparklinlabs.com>
Emilio García-Pumarino <emili.tfe@gmail.com> dashaus <emili.tfe@gmail.com>
Guilherme Oenning <me@goenning.net>
Herrington Darkholme <nonamesheep1@gmail.com>
Ivo Gabe de Wolff <ivogabe@ivogabe.nl>
Joey Wilson <joey.wilson.a@gmail.com>
Jonathon Smith <failing@crashdive.co.uk>
Juan Luis Boya García <ntrrgc@gmail.com>
Kagami Sascha Rosylight <saschanaz@outlook.com>
Lucien Greathouse <me@lpghatguy.com>
Martin Vseticka <vseticka.martin@gmail.com>
Mattias Buelens <mattias.buelens@opentelly.com>
Michael Bromley <michael@michaelbromley.co.uk>
Mohamed Hegazy <mhegazy@microsoft.com>
Nathan Shively-Sanders <nathansa@microsoft.com>
Paul Jolly <paul@myitcv.org.uk>
Perry Jiang <jiangperry@gmail.com>
Peter Burns <rictic@google.com>
Robert Coie <rac@intrigue.com>
Ryan Cavanaugh <RyanCavanaugh@users.noreply.github.com>
Thomas Loubiou <t.loubiou@systonic.fr>
Tim Perry <tim.perry@softwire.com>
Vidar Tonaas Fauske <vidartf@gmail.com>
Viktor Zozulyak <zozulyakviktor@gmail.com>
York Yao <plantain-00@users.noreply.github.com> york yao <yaoao12306@outlook.com> yaoyao <yaoyao12306@163.com> york yao <yaoao12306@outlook.com>
Yuichi Nukiyama <oscar.wilde84@hotmail.co.jp> YuichiNukiyama <oscar.wilde84@hotmail.co.jp>
Zhengbo Li <Zhengbo Li> Zhengbo Li <zhengbli@microsoft.com> zhengbli <zhengbli@microsoft.com> tinza123 <li.zhengbo@outlook.com>
falsandtru <falsandtru@users.noreply.github.com>  # @falsandtru
rix <rix@rixs-MacBook-Pro.local> # Richard Sentino
rohitverma007 <rohitverma@live.ca> # Rohit Verma
Akinmade Bond  <lovedammy77@yahoo.com>
alfaslash  <alfaslash@gmail.com> # Artem Roshko
Andy Hanson  <anhans@microsoft.com>
Argelius Andreas  <andreas@argeli.us>
arjunyel  <arjunyel@users.noreply.github.com> # @arjunyel
Christian Silver  <Pinpickle@abscure.net>
cronon  <cronon12@gmail.com> # @cronon
Diullei Gomes  <diullei@gmail.com>
Gabriel Pena Calero  <gabrielpenac25@gmail.com>
Logan Mzz  <loganmzz@users.noreply.github.com>
Luc-Edmond Gaspard  <gaspardle@users.noreply.github.com>
ncoley  <nrcoley@gmail.com> # Natalie Coley
Nico Kemnitz  <nkemnitz@princeton.edu>
Stanislav Vasilev  <stas.vstas@yandex.ru>
Tuure Savuoja  <tuure@tuuresavuoja.net>
VincentBel  <buaazqh@gmail.com> # Vincent Bel